body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

p {
    margin: 0;
    padding: 0;
}

#logo {
    font-size: 32px;
    padding: 16px 48px;
    background-color: rgb(6, 44, 9);
    color: white;
    font-weight: 900;
}

#hero {
    font-size: 16px;
    padding: 16px 48px;
    background-color: rgb(6, 44, 9, 20%);
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

#hero-text {
    width: 300px;
    flex: auto;
}

#hero-text p:nth-child(2) {
    margin-top: 16px;
}

#hero-video {
    flex: auto;
    max-width: 800px;
    min-width: 400px;
    aspect-ratio: 16/9;
}

#hero-video iframe {
    width: 100%;
    height: 100%;
    
}

.footer {
    text-align: center;
    background-color: rgb(6, 44, 9);
    color: white;
    font-weight: 900;
    padding: 16px 48px;
}


.content {
    flex: 1;
    padding: 16px 48px;
}


.message-container {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}

.choice-image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.choice-image {
    box-sizing: border-box;
    width: 300px;
    height: 250px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-image img {
    width: 100%;
    height: 100%;
    display: none;
}

.button-choice {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 8px;
}

.button-choice button {
    padding: 16px;
    font-size: 16px;
}

.startgame-button-container {
    display: flex;
    justify-content: center;
    margin: 24px;
    
}

.startgame-button-container button {
    font-size: 32px;
    padding: 24px;
}